<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body class="show">
    <header>
      <h1>THE DOG DEN</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/dogs">The Roster</a>
          </li>
        </ul>
      </nav>

    </header>
    <main>
      <section class="content">
        <h1><%=onedog.name%>'s Page</h1>
        <img src="<%=onedog.picture%>" alt="<%=onedog.name%>'s photo goes here">
        <h2>Stats</h2>
        <p>Name: <%=onedog.name%></p>
        <p>Gender: <%=onedog.gender%></p>
        <p>Breed: <%=onedog.breed%></p>
        <p><%=onedog.name%>'s favorite activities: <%=onedog.favoriteactivities%></p>
      </section>
      <section>

        <%# edit button%>
        <form class="button" action="/dogs/<%=onedog.id%>/edit">
          <input type="submit" value="Edit <%=onedog.name%>'s Profile">
        </form>

        <%# message button%>

        <form
        class="button" action="/messages/new">
          <input type="submit" value="Leave a message for <%=onedog.name%>">
        </form>
        <%# delete button%>

        <form
        class="button" action="/dogs/<%=onedog.id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete <%=onedog.name%>'s Profile">
        </form>
      </section>
    </main>

  </body>
</html>
